*{
  font-family: 'Poppins', sans-serif;
}
body{
  background-color :#111;
  color: whitesmoke;
}
img{
  height: 160px;
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px auto;
}
.card{
  width: 280px;
  border: 2px whitesmoke solid;
  border-radius: 10px;
  background-color: #333;
  padding: 20px;
  text-align: center;
}
button{
  border: 0.5px solid white;
  background-color: #38bff8cd;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.parent{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
button:hover{
  background-color: #333;
}